/*----------General styles for the document-----------*/
body {
  background-color: #22262a;
  display: flex;
  justify-content: center;
  padding-top: 5%;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Rajdhani', sans-serif;
}
.container {
  border-radius: 10px;
  background-color: #4f565e;
  width: 75%;
  box-sizing: border-box;
  padding: 10px 20px;
}

/*----------Initial data block----------*/
.container__initial-data {
  margin-bottom: 20px;
}
.initial-data__title {
  color: white;
  margin: 10px auto;
  width: max-content;
}
.input__initial-count {
  display: flex;
  width: 550px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 10px;
}
.count__label {

}
.count__input {
  border-radius: 5px;
}
.input__submit-button {
  margin: 0 auto;
  border-radius: 5px;
  background-color: #6699cc;
  border: none;
  outline: none;
  padding: 5px 10px;
  display: flex;
}

/*----------Algorithm visualization block----------*/
.container__data-sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.data-sorting__algorithm {
  height: 200px;
  background-color: gray;
  display: flex;
  width: 30%;
  flex-flow: wrap-reverse;
}
.arrayElem {
  width: 20px;
  height: 100%;
  background-color: red;
}
.spaceWhite {
  height: 100%;
  width: 5px;
  background-color: gray;
}

/*----------Algorithm visualization buttons----------*/
.container__navigate {
  display: flex;
  justify-content: space-evenly;
}
.navigate__button {
  border-radius: 5px;
  background-color: #6699cc;
  border: none;
  outline: none;
  padding: 5px 10px;
}